<div class="travel">
  <div class="icons">
    <div class="icon">
      <a href="https://www.uber.com/de/de/" target="_blank">
        <i class="fab fa-uber"></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.uber.com/de/de/" target="_blank">
        <i class="fas fa-taxi"></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.mvg.de/" target="_blank">
        <i class="fas fa-subway"></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.mvg.de/" target="_blank">
        <i class="fas fa-bus-alt" ></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.mvg.de/services/mobile-services/mvg-rad.html" target="_blank">
        <i class="fas fa-biking"></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.google.de/maps/preview" target="_blank">
        <i class="fas fa-walking"></i>
      </a>
    </div>
  </div>
</div>
