
<div class="bookings-show-banner" style="background-image: linear-gradient(rgba(150,150,150,0.3), rgba(150,150,150,0.3)), url('https://res.cloudinary.com/daf8fgekl/image/upload/v1590058200/Bildschirmfoto_2020-05-21_um_12.49.05_f7r7qj.png')">
    <h1 class="banner_text_1">Congratulations!</h1>
    <h2 class="banner_text_1">You have booked your personal date experience.</h1>
  </div>

</div>
  <div class="container booking_container">
    <div class="booking_summary p-4">
      <div class="d-flex justify-content-between">
          <div class="col-md-9 p-3 mr-3 booking_cards booking_summary_card">
            <p class="bookings_header"><strong>Your personal date experience</strong></p>
            <% @ordered_items.each_with_index do |item, index| %>
              <div class="row">

                  <% i=@itinerary[0] if item== @ordered_items.first %>
                  <% f=@itinerary[1] if item== @ordered_items.first %>
                  <% i=@itinerary[2] if item== @ordered_items.second %>
                  <% f=@itinerary[3] if item== @ordered_items.second %>
                  <% i=@itinerary[4] if item== @ordered_items.third %>
                  <% f=@itinerary[5] if item== @ordered_items.third %>


                <div class="col-12">
                    <%= render 'booking-card', item: item, items: @items %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-md-3 px-3 mr-2 booking_buttons_card d-flex align-items-center">
            <button type="button" class="bookings_button">Change</button>
            <button type="button" class="bookings_button">Cancel</button>
            <button type="button" class="bookings_button">Contact us</button>
          </div>
      </div>

      <div class="col-md-12 px-4 py-2 booking_card_keepinmind booking_tips_card">
        <div class="row">
        <p class="tip_font"><strong>Some last words from   </strong></p>
        <div class="logo_bookings">
            <%= image_tag "logo-sm.png" %>
          </div> 
        </div>          
        <div class="row_lastwords d-flex mb-2">
          <div class="col-3 booking_tip_card align-items-center justify-content-around d-flex" style="background-image: linear-gradient(rgba(180,180,180,0.4),rgba(180,180,180,0.4)), url(https://res.cloudinary.com/dwmqtysj3/image/upload/v1590659068/tip_pic_lzjlhw.png)">Dress to impress
          </div>
          <div class="col-1 booking_tip_card_text align-items-center justify-content-around d-flex" >+
          </div>
          <div class="col-3 booking_tip_card align-items-center justify-content-around d-flex" style="background-image: linear-gradient(rgba(230,230,230,0.4),rgba(230,230,230,0.4)), url(https://res.cloudinary.com/dwmqtysj3/image/upload/v1590659561/tip_pic_2_zqeiym.jpg)">Listening > talking
          </div>
          <div class="col-1 booking_tip_card_text align-items-center justify-content-around d-flex" >+
          </div>
          <div class="col-3 booking_tip_card align-items-center justify-content-around d-flex" style="background-image: linear-gradient(rgba(200,200,200,0.4),rgba(200,200,200,0.4)), url(https://res.cloudinary.com/dwmqtysj3/image/upload/v1590659561/tip_pic_3_ym9rgu.jpg)">Have a good time          
          </div>
           <div class="col-1 booking_tip_card_smiley align-items-center justify-content-around d-flex" ><i class="fas fa-smile"></i>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
