<div class="booking_banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://res.cloudinary.com/dwmqtysj3/image/upload/v1590508908/Banner_image_3_hubxpi.png')">
  <div class="booking_banner_content">
    <h1>Congratulations!</h1>
    <h1>You have booked your personal date experience.</h1>
  </div>    
</div>
             

</div>
  <div class="container booking_container">
    <div class="booking_summary p-5">
      <div class="d-flex justify-content-between">
          <div class="col-md-8 p-3 booking_cards booking_summary_card">
            <p class=""><strong>Your experience</strong></p>
            
            <% @items.each_with_index do |item, index| %>
              <div class="row">
                <div class="col-2">
                  <% i=@itinerary[0] if item== @items.first %>
                  <% f=@itinerary[1] if item== @items.first %>
                  <% i=@itinerary[2] if item== @items.second %>
                  <% f=@itinerary[3] if item== @items.second %>
                  <% i=@itinerary[4] if item== @items.third %>
                  <% f=@itinerary[5] if item== @items.third %>
                  <div class="show-card">
                   
                  </div>
                 
                </div>

                <div class="col-10">
                    <%= render 'booking-card', item: item, items: @items %>
                    
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-md-3 p-3 booking_cards booking_summary_card d-flex align-items-center justify-content-around">
            <button type="button" class="bookings_button">Change booking</button>
            <button type="button" class="bookings_button">Cancel booking</button>
            <button type="button" class="bookings_button">Contact us</button>
          </div>          
      </div>

      <div class="col-md-12 p-4 booking_cards booking_tips_card text-center">
        <p class="tip_font"><strong>Keep in mind</strong></p>            
        <div class="d-flex justify-content-between">
          <div class="col-3 mx-3 booking_tip_card align-items-center justify-content-around d-flex" style="background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url(https://res.cloudinary.com/dwmqtysj3/image/upload/v1590421040/Wine_and_dine_qovdzb.jpg)">Do something
          </div>
          <div class="col-3 mx-3 booking_tip_card align-items-center justify-content-around d-flex" style="background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url(https://res.cloudinary.com/dwmqtysj3/image/upload/v1590421040/Wine_and_dine_qovdzb.jpg)">Do something
          </div>
          <div class="col-3 mx-3 booking_tip_card align-items-center justify-content-around d-flex" style="background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url(https://res.cloudinary.com/dwmqtysj3/image/upload/v1590421040/Wine_and_dine_qovdzb.jpg)">Do something          
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
