<div class="footer d-flex">

  <div class="social p-3">
    <h3>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fas fa-envelope-square"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-twitter-square"></i>
    </h3>
    <h3>
      <p style="font-size: 15px"> Do you need help? Call: +49(0)89 12-34-56 </p>
    </h3>
    <h4 class="fox">©by DateFox • Conditions of Use • Privacy Notice</h4>
  </div>
  <div class="partner p-3">
    <div>
      <img class="first-icon" src="https://www.hugocarter.co.uk/wp-content/uploads/2019/03/Trustpilot-Rated-Excellent-Hugo-Carter-Silent-Windows-logo.png" alt="#" width="120" height="51,8">
      <h5 class="rating">  4.9 of 5 (1,407 reviews)</h5>
    </div>
    <img class="second-icon" src="https://www.motioncut.co.uk/wp-content/uploads/2018/11/ssl-logo-300x166.png" alt="#" width="120" height="64">
  </div>
</div>
