<div class="tasks">

  <div class="progress-step">
    <div class="task"></div>
    <%= link_to 'Cities', cities_path, class: 'link' %>
  </div>

  <div class="progress-step">
    <div class="task"></div>
    <%= link_to 'Date & Time', date_times_path, class: 'link' %>
  </div>

  <div class="progress-step">
    <div class="task"></div>
    <%= link_to 'Activities', activities_path, class: 'link' %>
  </div>
  
  <div class="progress-step">
    <div class="task"></div>
    <%= link_to 'Budget', price_ranges_path, class: 'link' %>
  </div>

</div>

