<div class="booking_banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://res.cloudinary.com/dwmqtysj3/image/upload/v1590499952/Banner_image_3_v8tc7t.png')">
  <div class="booking_banner_content">
    <h1>Congratulations!</h1>
    <h1>You have booked your personal date experience.</h1>
  </div>
    
</div>

  <div class="container booking_container">
    <div class="booking_summary p-5">
      <div class="d-flex justify-content-between">
          <div class="col-md-8 p-3 mb-3 booking_summary_card">
            <p class=""><strong>Your experience</strong></p>
            <p class=""><small>List items</small></p>
          </div>
        <div class="col-md-3 card booking_button_card">
          <h3>Sven (30)</h3>
            <p>"I was surprised how easy DateFox makes it to plan a date. I would recommend to everyone, even couples!"</p>
        </div>
      </div>
       <div class="col-md-12 p-3 mb-3 booking_tips_card">
            <p class=""><strong>Some tips</strong></p>            
        </div>
    </div>
  </div>
