<div class="home_banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/daf8fgekl/image/upload/v1589977367/date_pic_pttcw6.png')">
  <div class="home_banner_content">
     <h1>Plan your perfect date experience.</h1>

    <div class="date_fox_elipse d-flex align-items-center justify-content-around" style="background-image: url('https://res.cloudinary.com/dwmqtysj3/image/upload/v1590408849/Shape_landing_page_m2nvkr.png')">
      <div class="elipse_text"> <p>High class dating tailored to your personal needs</p>
      </div>
     
      <div class="banner_button"><button type="button" class="btn btn-success btn-lg"> <a><%= link_to "Let's go", searches_path(Search.new), method: :post %></a> </button></div> 
    </div>

  </div>
</div>

  <div class="container">
    <div class="logo_bar d-flex justify-content-center">
      <div class="col-4">
        <h3 class="logo_bar"> <strong class="numbers_lp">1,000+</strong> restaurants</h3>
           <p class="landing_page_icon fas fa-utensils"></p>
      </div>
      <div class="col-4">
        <h3 class="logo_bar"> <strong class="numbers_lp">2,500+</strong> bars</h3>
           <p class="landing_page_icon fas fa-glass-martini-alt"></p>
      </div>
      <div class="col-4">
        <h3 class="logo_bar"> <strong class="numbers_lp">500+</strong> events</h3>
           <p class="landing_page_icon fas fa-music"></p>
      </div>
    </div>

    <div class="Top_dating_experiences p-5">
      <h2 class="text-center"> <strong class="numbers_lp customers_header">What our customers say</strong></h2>
      <div class="row justify-content-center testimonial_card_top">
        <div class="d-flex testimonial_card testimonial_border">
          <div>
            <h2>Ben (30)</h2>
            <p>"I had the best date of my life. DateFox took me to amazing places, the restaurants and bars matched exactly what I was looking for."</p>
          </div>
          <img src='https://kitt.lewagon.com/placeholder/users/Benhendriks' class="testimonial_user avatar-bordered"/>
         </div>
        <div class="testimonial_card testimonial_border">
          <div>
            <h2>Ena (28)</h2>
            <p>"I was surprised how easy DateFox makes it to plan a date. No more googling around for hours, awesome. I can recommend to everyone, even couples!"</p>
          </div>
            <img src='https://kitt.lewagon.com/placeholder/users/Enajahic' class="testimonial_user avatar-bordered"/>
        </div>
        <div class="testimonial_card">
          <div>
            <h2>Sven (39)</h2>
            <p>"I never would have thought to find these cool places. The whole booking process was super easy. My date is now in love with me. Thank you, DateFox!"</p>
          </div>
            <img src='https://kitt.lewagon.com/placeholder/users/Svenfran' class="testimonial_user avatar-bordered"/>
        </div>
      </div>
    </div>

    <div class="Top_dating_experiences p-5">
      <h2 class="text-center"> <strong class="numbers_lp top_3_header">Top dating experiences in Munich</strong></h2>
      <div class="row justify-content-center top_3_card_top">
        <div class="d-flex top_3_card top_3_border">
          <div>
            <h2>Wine & Dine</h2>
            <img src="https://res.cloudinary.com/dwmqtysj3/image/upload/v1590421040/Wine_and_dine_qovdzb.jpg" alt=""/>
            <button type="button" class="top_3_button">Show details</buttoOk!n>
          </div>
        </div>
        <div class="top_3_card top_3_border">
          <div>
            <h2>Italian nights</h2>
            <img src="https://res.cloudinary.com/dwmqtysj3/image/upload/v1590421040/Italian_kzzwdn.jpg" alt=""/>
            <button type="button" class="top_3_button">Show details</button>
         </div>
       </div>
        <div class="top_3_card">
          <div>
            <h2>Cocktail classics</h2>
            <img src="https://res.cloudinary.com/dwmqtysj3/image/upload/v1590421041/Cocktails_qhqahk.jpg" alt=""/>
            <button type="button" class="top_3_button">Show details</button>
          </div>
        </div>
      </div>
    </div>

  </div>
    <div class="footer d-flex justify-content-center">
      <div class="contact p-3">
        <div class="fox"> <h5><i class="far fa-copyright"></i> by Date Fox</h5> </div>
      </div>
      <div class="social p-3">
        <h3>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fas fa-envelope-square"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-twitter-square"></i>
        </h3>
      </div>
      <div class="partner p-3">
        <h5>
          <i class="fas row fa-award p-1">  Award 2020</i>
          <i class="fas row fa-certificate p-1">  Best dating</i>
          <i class="fab row fa-asymmetrik p-1">  Award</i>
          <i class="fab row fa-staylinked p-1">  Red Dot</i>
        </h5>
      </div>
    </div>
