<div class="home_banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/daf8fgekl/image/upload/v1589977367/date_pic_pttcw6.png')">
  <h1 class="d-flex justify-content-center">Plan your perfect date</h1>
  <div class="date_fox_elipse" style="background-image: url('https://res.cloudinary.com/daf8fgekl/image/upload/v1589980934/Picture1_heakxg.png')">
    <div class="elipse_text"> <p>High class dating tailored to your personal needs</p></div>
      <div class="banner_button p-1"><button type="button" class="btn btn-success btn-lg p-3">Plan now</button></div>
        <div class="stars p-1">
          <h3>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </h3>
        </div>
  </div>
</div>
  <div class="container">
    <div class="logo_bar d-flex p-5">
      <h3 class="col-2">Logo</h3>
        <h2 class="col-4"> <strong>1.000</strong>+restaurants</h2>
        <h2 class="col-3"> <strong>2.500</strong>+bars</h2>
        <h2 class="col-3"> <strong>500</strong>+events</h2>
    </div>
    <div class="testimonials p-5">
      <div class="d-flex justify-content-center">
        <div class="col-4">
          <h2>Testimonials</h2>
            <p>Best date of my life with awesome food and an amazing view i will never forgot</p>
        </div>
        <div class="col-4">
          <h2>Testimonials</h2>
            <p>Best date of my life with awesome food and an amazing view i will never forgot</p>
        </div>
        <div class="col-4">
          <h2>Testimonials</h2>
            <p>Best date of my life with awesome food and an amazing view i will never forgot</p>
        </div>
      </div>
    </div>
      <div class="collection d-flex p-5">
        <div class="row justify-content-center">
          <h2>Top dating experience (ideas) in Munich</h2>
            <div class="item col-4">
              <h3>Item</h3>
            </div>
            <div class="item col-4">
              <h3>Item</h3>
            </div>
            <div class="item col-4">
              <h3>Item</h3>
            </div>
        </div>
      </div>
  </div>
    <div class="footer d-flex justify-content-center">
      <div class="contact p-3">
        <div class="fox"> <h5><i class="far fa-copyright"></i> by Date Fox</h5> </div>
      </div>
      <div class="social p-3">
        <h3>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fas fa-envelope-square"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-twitter-square"></i>
        </h3>
      </div>
      <div class="partner p-3">
        <h4>
          <i class="fas row fa-award p-1"> Award 2020</i>
          <i class="fas row fa-certificate p-1"> Best dating</i>
          <i class="fab row fa-asymmetrik p-1"> Awwward</i>
          <i class="fab row fa-staylinked p-1"> Red Dot</i>
        </h4>
      </div>
    </div>
