<div class="card-category">
  <div class="text-left bg-img" style="background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url(<%= @img %>)">
    <h2>Experience <%= (i + 1) %></h2>
  </div>
  <div class="row test-background">
    <% experience.items.each do |item| %>
      <div class="row flex-grow-1">
        <div class="col flex-grow-1">
          <%= render 'item-card', item: item, searches: searches %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to "Choose Experience", search_experience_path(search_id: searches, id: experience), class: "btn btn-primary text-center rounded-lg mt-2 w-100" %>
    </div>
  </div>
</div>

