<div class="card-product">
  <div class="row">
    <div class="col-8">
      <h2><%= items.name %></h2>
      <p>Category</p>
    </div>
  </div>
  <div class="row">
    <img src=<%= items.photos.first.url %> class="item-photo"/>
    <div class="card-product-infos">
      <p> Description would go here</p>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <p>Attr</p>
    </div>
    <div class="col-3">
      <p>Attr</p>
    </div>
    <div class="col-3">
      <p>i</p>
    </div>
    <div class="col-3">
      <%= link_to "Details", experience_item_path(experience_id: item.experiences, id: items.id), class:"btn btn-primary" %>
    </div>

  </div>
</div>
