<div class="travel">
  <div class="travel-time"> 30 min | Travel options
    <div class="Uber">
      <a href="https://www.uber.com/de/de/">
        <i class="fab fa-uber"></i>
      </a>
    </div>
    <div class="taxi">
      <a href="https://www.uber.com/de/de/">
        <i class="fas fa-taxi"></i>
      </a>
    </div>
    <div class="subway">
      <a href="https://www.mvg.de/">
        <i class="fas fa-subway"></i>
      </a>
    </div>
    <div class="bus">
      <a href="https://www.mvg.de/">
        <i class="fas fa-bus-alt" ></i>
      </a>
    </div>
    <div class="bike">
      <a href="https://www.mvg.de/services/mobile-services/mvg-rad.html">
        <i class="fas fa-biking"></i>
      </a>
    </div>
    <div class="walk">
      <a href="https://www.google.de/maps/preview">
        <i class="fas fa-walking"></i>
      </a>
    </div>
  </div>
</div>
