<div class="travel">
  <div class="travel-time">
    <div class="circle"></div>
      <div class="line"></div>
        30 min
      <div class="line"></div>
    <div class="circle"></div>
  </div>
  <div class="icons">
    <div class="icon">
      <a href="https://www.uber.com/de/de/">
        <i class="fab fa-uber"></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.uber.com/de/de/">
        <i class="fas fa-taxi"></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.mvg.de/">
        <i class="fas fa-subway"></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.mvg.de/">
        <i class="fas fa-bus-alt" ></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.mvg.de/services/mobile-services/mvg-rad.html">
        <i class="fas fa-biking"></i>
      </a>
    </div>
    <div class="icon">
      <a href="https://www.google.de/maps/preview">
        <i class="fas fa-walking"></i>
      </a>
    </div>
  </div>
</div>
