<div class="travel">
  <div class="travel-time">
    <div class="circle"></div>
      <div class="line"></div>
        30 min
      <div class="line"></div>
    <div class="circle"></div>
  </div>
  <div class="icons">
    <div class="icon">
        <i class="fab fa-uber"></i>
    </div>
    <div class="icon">
        <i class="fas fa-taxi"></i>
    </div>
    <div class="icon">
        <i class="fas fa-subway"></i>
    </div>
    <div class="icon">
        <i class="fas fa-bus-alt" ></i>
    </div>
    <div class="icon">
        <i class="fas fa-biking"></i>
    </div>
    <div class="icon">
        <i class="fas fa-walking"></i>
    </div>
  </div>
</div>



