<div class="frame d-flex p-3">
    <div class="info">
      <div class="time p-2">TIME</div>
      <div class="place p-2">?</div>
    </div>
    <div class="show-card d-flex">
        <h2 class="card-name"><%= item.name %></h2>
        <div class="card-text">
          <h5 class="type"><%= item.item_category.alias %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </h5>
          <p>Selected cocktails and a journey into the world of rum from the Caribbean, Latin America, Panama, India and Australia are waiting for you. Come and visit us, leave the stress behind and enjoy the classic atmosphere of Barroom.</p>
        </div>
      <div class="map" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/daf8fgekl/image/upload/v1590064396/Bildschirmfoto_2020-05-21_um_14.28.52_ifxgsi.png')"></div>
      <div class="card-button">
        <button type="button" class="btn btn-primary btn p-1 m-1">Show details</button>
        <button type="button" class="btn btn-primary btn p-1 m-1">New suggestion</button>
        <button type="button" class="btn btn-primary btn p-1 m-1">Make reservation</button>
      </div>
    </div>
  </div>
