<div class="class">
  <div class="row">
  <% @ordered_items.each_with_index do |items, index| %>
    <div class="col-sm-4">
      <%= render 'experience-card', searches: @search, items: items, experience: @search.experiences[index] %>
    </div>
  <% end %>
  </div>
</div>
