<div class="class container" style="display: none">
  <div class="row">
  <% @search.experiences.each do |experience| %>
    <div class="col-4">
      <%= render 'experience-card', searches: @search, experience: experience %>
    </div>
  <% end %>
  </div>
</div>
