<div class="row">
  <div class="col-3">

  </div>
  <div class="col-3">
    <%= render 'experience-card', items: @items[1], searches: @search %>
  </div>
  <div class="col-3">
    <%= render 'experience-card', items: @items[1], searches: @search %>
  </div>
  <div class="col-3">
    <%= render 'experience-card', items: @items[1], searches: @search %>
  </div>
</div>

