<div class="row">
  <div class="col-3">

  </div>

    <% @activity_items.each do |_key, value| %>
      <% result = value.sample(3) %>
      <div class="col-3">
      <%= render 'experience-card', items: result, searches: @search %>
    </div>
    <% end  %>


</div>

