<div class="experience-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/daf8fgekl/image/upload/v1590058200/Bildschirmfoto_2020-05-21_um_12.49.05_f7r7qj.png')">
    <h1>Experience</h1>
</div>

<div class="container p-0">
  <div class="row">
    <% n = 0 %>
    <div class="col-10 p-0">
      <% @experience.items.each do |item| %>
        <%= render 'show_card', search: @search, item: item %>
        <% n += 1 %>
        <% if n < @experience.items.size %>
          <%= render 'show_travel_card' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-2 p-0">
      <div class="action-box">
        <div class="action-text">
          <div class="logo">
            <%= image_tag "logo-sm.png" %>
          </div>
            <p>✔️ Book a table</p>
            <p>✔️ Book tickets</p>
            <p>✔️ Organise transport</p>
            <p>✔️ Special included?</p>
          <div class="call">
            <%= link_to "Book your date", "#", class: "action btn btn-primary" %>
          </div>
          <h5>Add your preferences</h5>
            <p>
              <input type="checkbox">
              Flower service?
              <span class="checkmark"></span>
            </p>
            <p>
              <input type="checkbox">
              Limousine service?
              <span class="checkmark"></span>
            </p>
            <p>
              <input type="checkbox">
              Birthday service?
              <span class="checkmark"></span>
            </p>
            <p>
              <input type="checkbox">
              First date service?
              <span class="checkmark"></span>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer d-flex">
  <div class="social p-3">
    <h3>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fas fa-envelope-square"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-twitter-square"></i>
    </h3>
    <h3>
      <p style="font-size: 15px"> Do you need help? Call: +49(0)89 12-34-56 </p>
    </h3>
  </div>
  <div class="partner p-3">
   <img class="first-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Trustpilot_logo.png" alt="#" width="128" height="52,8">
   <img class="second-icon" src="https://www.motioncut.co.uk/wp-content/uploads/2018/11/ssl-logo-300x166.png" alt="#" width="120" height="64">
  </div>
</div>
<div class="contact p-3">
  <div class="fox">
    <h5><i class="far fa-copyright">
    </i> by Date Fox • Conditions of Use • Privacy Notice</h5>
  </div>
</div>



