.action-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin-top: 20px;
  width: 280px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);

  h5 {
    font-weight: bold;
  }

  .action-text {
    padding: 10px 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .call {
    margin: 10px auto;

    .action {
      padding: 10px 38px;
      font-size: 16px;
      font-weight: lighter;
    }
  }
}

