.booking_banner {
    background-size: cover;
    height: 80vh;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    h1 {
    font-weight: bold;
    font-size: 60px;
    color: #f7f7f7;
    text-shadow: 2px 2px 4px #333333;
    padding-top: 20px;
    text-align: center;
    }
    button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      a {
        color: white;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .booking_banner_content{
      margin-bottom: 40px;
    }
      p {
        color: #f7f7f7;
        text-shadow: 2px 2px 4px #333333;
        font-size: 36px;
      }
  }
  .booking_container{
      max-width: unset !important;
      width: 57vw !important;
      padding: 0px !important;
    }
.booking_summary {
  background-color: #F1F8F7;
  margin: 16px;
  font-size: 24px;
}
.booking_border {
  border-right: 1px solid rgb(230,230,230);
}
.booking_cards {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.booking_card_keepinmind {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.booking_summary_card {
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 300px;
  word-wrap: break-word;
  margin-bottom: 20px;
  }
.booking_button_card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 150px;
}
.booking_tips_card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.bookings_button {
  background-color: #6362AF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 180px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: Quicksand;
}
.booking_tip_card {
  text-align: center;
  padding: 20px;
  width: 390px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: Quicksand;
  border-radius: 10px;
  font-weight: bolder;
}

.booking_tip_card_text{
  text-align: center;
  padding: 20px;
  width: 390px;
  padding-left: 20px;
  padding-right: 20px;
  color: #6362AF;
  font-family: Quicksand;
  border-radius: 10px;
  font-weight: bolder;
}

.booking_tip_card_smiley{
  text-align: center;
  padding: 20px;
  width: 390px;
  padding-left: 20px;
  padding-right: 20px;
  color: #6362AF;
  font-family: Quicksand;
  border-radius: 10px;
  font-size: 30px;
}

.bookings_button:hover {
  background-color: #00CCBC;
  color: white;
}

.bookings_header {
  color: #6362AF;
  font-family: Quicksand;
  margin-left: 12px;
  font-size: 24px;
}

.tip_font {
  color: #6362AF;
  font-family: Quicksand;
  margin-left: 12px;
  font-size: 24px;
}

.logo_bookings img {
  width: 170px;
  height: 48px;
  margin-left: 2px;
  margin-bottom: 10px;
}
