.home_banner {
  background-size: cover;
  height: 650px;
  margin-bottom: 150px;

    h1 {
    padding-top: 370px;
    font-weight: bold;
    font-size: 80px;
    color: #f7f7f7;
    text-shadow: 2px 2px 4px #333333;
    }

    button {
      margin-left: 660px;
      font-size: 36px;
      font-weight: lighter;
      box-shadow: 2px 2px 4px #333333;
      text-shadow: 1px 1px 2px #333333;
    }

    .date_fox_elipse {
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 1350px 480px; /* Resize the background image to cover the entire container */
  }
    .elipse_text {
          display: flex;
          justify-content: space-between;

      p {
        margin-top: 60px;
        margin-left: 250px;
        width: 580px;
        color: #f7f7f7;
        text-shadow: 2px 2px 4px #333333;
        font-size: 32px;
        justify-content: space-between;
      }
    }

    .stars {
      margin-left: 890px;
      color: #00CCBC;
      text-shadow: 1px 1px 2px #333333;
    }
}



