.home-banner {
  background-size: cover;
  height: 650px;

    h1 {
    padding-top: 440px;
    font-weight: bold;
    font-size: 80px;
    color: #f7f7f7;
    shadow: 5px 5px 8px #100303;
    }

    button {
      font-size: 36px;
      font-weight: lighter;
    }
}

.date_fox_elipse {
  background-image: url();
  padding: 24px;
  background-color: #6F4A85;
  width: 80%;
  border-radius: 45%;
  position: relative;
}
