// .item-photo {
//   width: 100px;
//   height: 100px;
// }

.class {
  display: flex;
  margin: 0 auto;
  width: 90vw;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.card-product {
  // position: absolute;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  height: 270px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  margin: 12px;
  padding: 18px;
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 280px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  // margin-top: 8px;
}

.card-product .category p {
  color: #6362AF;
  font-weight: bold;
}

.card-product-infos {
  width: 100%;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .attributes {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  width: 200px;
  margin-top: 6px;
}
.card-product .attribute {
  display: flex;
  margin-right: 6px;
  margin-top: 6px;
  background: #D4F0ED;
  padding: 4px;
  border-radius: 4px;
  p {
    font-size: 10px;
  }
}

.attr-container {
  // position: absolute;
  margin-top: 6px;
  display: flex;
  align-items: flex-end;
}

#replace {
  // position: relative;
  // bottom: -15px;
  // right: -50px;
  // bottom: 6px;
  width: 125px;
  color: white;
  // margin-top: 8px;
  font-size: small;
  font-weight: bold;
  border-radius: 4px;
  background: #00CCBC;
  // background: #D4F0ED;
  opacity: .7;
  &:hover {
    background: #00CCBC;
    color: white;
    opacity: 1;
  }
}