.navbar-lewagon {
  justify-content: space-between;
  position: fixed !important;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
  border-radius: 6px;
}

.nav-link {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 21px !important;
  color: #6362AF !important;
  padding-left: 20.5rem !important;
}

.navbar-brand {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 17px !important;
  color: #6362AF !important;
}
