.show-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 330px;
  margin-bottom: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

  .card-name {
    padding-left: 10px;
    padding-top: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;

    img {
      height: 85%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }

    h2 {
      font-size: 28px;
      font-weight: bold;
    }
  }

  .card-text {
    width: 45%;
    padding: 50px 20px;

    p {
      font-size: 16px;
    }

    .type {
      font-weight: bold;
      color: #100303;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  font-size: 16px;

    .circle {
      border: 2px solid #6362af;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }

    .time {
      padding: 4px 0px;
      color: #6362af;
      font-weight: bold;
    }

    .time-line {
      flex: 1 0 auto;
      border-left: 1px solid #6362af;
    }

    .time-end {
      padding: 4px 0px;
      color: #6362af;
      font-weight: bold;
    }
}

.travel {
  height: 90px;
  width: 100%;
  margin-bottom: 16px;
  padding-top: 50px 10px;
  display: flex;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 0px 25%;
  align-items: center;
  width: 100%;
  color: #6362af;

  .icon {
    font-size: 24px;
  }

  .icon i:hover {
    color: #48a79a;
    cursor: pointer;
  }
}

.clicked {
  color: #48a79a;
}

.travel-time {
  padding: 4px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  font-size: 16px;
  color: #6362af;

    .line {
    flex: 1 0 auto;
    border-left: 1px dashed #6362af;
    }

    .circle {
      border: 2px solid #6362af;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
}

.space {
  width: 100%;
  height: 36px;
}

