<%#= render "question_form", object: @search %>

<%# Form for city %>

<%= render 'shared/progress_bar' %>

<div class="center">
  <div class="search-form-container">

  <h2>In which city do you want to find your date experience?</h2>

    <%= simple_form_for @search do |f| %>

      <div class="form-group">
        <div class="col-form-label pt-0"></div>
        <!-- <input type="hidden" name="search[city]" value=""> -->
          <div class="cities">
            <div class="city" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560930950-5cc20e80e392?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
              <input class="hidden" type="radio" value="Berlin" name="search[city]" id="search_city_1">
              <label for="search_city_1">Berlin</label>
            </div>

            <div class="city" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1553547274-0df401ae03c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
              <input class="hidden" type="radio" value="Hamburg" name="search[city]" id="search_city_2">
              <label for="search_city_2">Hamburg</label>
            </div>

            <div class="city" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1554222413-74348b32d66e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
              <input class="hidden" type="radio" value="Munich" name="search[city]" id="search_city_3">
              <label for="search_city_3">Munich</label>
            </div>

            <div class="city" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1561624485-0e43bcc1836d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
              <input class="hidden" type="radio" value="Cologne" name="search[city]" id="search_city_4">
              <label for="search_city_4">Cologne</label>
            </div>

            <div class="city" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1540646794357-6cbbd6f3501e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80)">
              <input class="hidden" type="radio" value="Frankfurt" name="search[city]" id="search_city_5">
              <label for="search_city_5">Frankfurt</label>
            </div>

          </div>
        </div>

      <%= f.button :submit, "Continue", class: "btn"%>
    <% end %>
  </div>
</div>

<%#= f.input :city %>
<%#= f.button :submit, "Continue", class: 'btn' %>
